<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Image</title>
</head>
<body>
    <h1>Processed Image</h1>
    <div id="processedImageContainer"></div>

    <script>
        window.onload = function() {
            // Get the filename of the selected image from the URL query parameters
            const params = new URLSearchParams(window.location.search);
            const filename = params.get('filename');
        
            // Fetch processed image data from the server
            fetch('/process_image', {
                method: 'POST',
                body: JSON.stringify({ 'filename': filename })
            })
            .then(response => response.json())
            .then(data => {
                console.log("Response:", data);
                if (data.error) {
                    alert(data.error);
                } else {
                    // Create an image element and set its source to the processed image data
                    var imgElement = document.createElement('img');
                    imgElement.src = 'data:image/jpeg;base64,' + data.processed_image_data;
                    document.getElementById('processedImageContainer').appendChild(imgElement);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        };
        
    </script>
</body>
</html>
