<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Image</title>
</head>
<body>
    <h1>Processed Image</h1>
    <div id="processedImageContainer"></div>

    <button onclick="goBack()">Back</button>

    <script>
        function goBack() {
            window.history.back(); // Go back to the previous page
        }

        window.onload = function() {
            // Get the filename of the selected image from the URL query parameters
            const params = new URLSearchParams(window.location.search);
            const filename = params.get('filename');

            // Create an image element and set its source to the processed image URL
            var imgElement = document.createElement('img');
            imgElement.src = '/static/processed/' + 'processed_'+filename; // Change the path as per your directory structure
            document.getElementById('processedImageContainer').appendChild(imgElement);
        };
    </script>
</body>
</html>
