<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Selection</title>
</head>
<body>
    <h1>Image Selection</h1>
    <form id="imageForm" action="/select_and_process_image" method="post" enctype="multipart/form-data">
        <input type="file" name="image_file" id="imageFileInput">
        <button type="submit">Select Image</button>
    </form>
    <div id="selectedImageContainer"></div>
    <button id="nextButton">Next</button>

    <script>
        // Define a global variable to store the response data
        var responseData;
        var name;
        document.getElementById('imageForm').addEventListener('submit', function(event) {
            event.preventDefault();
            console.log("Form submitted");
            var formData = new FormData(this);
            var file = formData.get('image_file');
            var filename = file.name; // Accessing the filename
            console.log("Filename:", filename); // Log the filename
            name = filename;
            fetch('/select_and_process_image', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log("Response:", data);
                responseData = data; // Store the response data in the global variable
                if (data.error) {
                    alert(data.error);
                } else {
                    var imageUrl = '/static/uploads/' + filename;
                    var imgElement = document.createElement('img');
                    imgElement.src = imageUrl;
                    imgElement.style.maxWidth = '400px';
                    imgElement.style.maxHeight = '300px';
                    var container = document.getElementById('selectedImageContainer');
                    container.innerHTML = '';
                    container.appendChild(imgElement);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        // Add click event listener to the next button
        document.getElementById('nextButton').addEventListener('click', function() {
            // Redirect to the next page with the filename as a query parameter
                window.location.href = '/page_one?filename=' + encodeURIComponent(name);
        });
    </script>
</body>
</html>
